.DS_Store
original.zip
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/Python.iml
.idea/vcs.xml
.ipynb_checkpoints/00-Welcome to the Course-checkpoint.ipynb
.idea/rSettings.xml
.idea/aws.xml
